div {
    position: relative;
    border: 6px dashed #ccc;
    height: 200px;
    top: 50px;
    width: 80%;
    text-align: left;
    padding-left: 10px;
  }
  
  ul {
    position: absolute;
    top: 25px;
    right: 40px;
    border: 1px solid red;
  }