body{
    display: flex;
    flex-direction: column;
    font-family: seeding;
}

h1, h2, h3, h4{
    font-weight: bolder;
}

.light{
    font-weight: normal;
}

p{
    font-size: 10px;
    color: violet;
}

.publicidad ul, .publicidad ol {
    color: orange;
}

@media(min-width: 600px){
    body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}